{% extends 'layout.html' %}

{% block style %}
    <style>
        #form{
            position: relative;
            left: 50%;
            transform: translate(-50%, 0);
        }
    </style>
{% endblock %}

{% block title %}
    Riddles: Login
{% endblock %}

{% block body %}
<div id="form" class="d-flex justify-content-center w-75">
    <form id="a_form" class="shadow-sm text-center p-5 bg-light" action="{{ url_for('login') }}" method="POST">
        <h2 class="mb-5">Login</h2>
        <div class="form-floating mb-3">
            <input type="text" name="name" class="form-control" id="floatingInput" placeholder="Username" autocomplete="off" required>
            <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password" required>
            <label for="floatingPassword text-center">Password</label>
        </div>        
        <button class="btn btn-primary w-100 btn-lg" type="submit">Submit</button>
        {% if message %}
            <div class="alert alert-danger mt-3" role="alert">
                {{ message }}
            </div>      
        {% endif %}
    </form>
</div>
{% endblock %}

{% block end %}
    <script>
        let form = document.getElementById("a_form")
        let list = ["w-25", "w-50", "w-75", "w-100"]
        let resize = () => {
            let width = window.innerWidth
            form.classList.forEach(item => {
                if(list.includes(item)){
                    form.classList.remove(item)
                }
            })
            if (width <= 576){
                form.classList.add(list[3])
            }else if (width <= 768){
                form.classList.add(list[2])
            }else{
                form.classList.add(list[1])
            }
        }
        window.onload = resize
        window.onresize = resize
    </script>
{% endblock %}